<form class="page-3" id="page-3" name="page-3">
  <h1 class="page-title">Pick add-ons</h1>
  <p class="page-description">Add-ons help enhance your gaming experience.</p>
  <ul class="add-on-info">
    <li class="online-service">
      <label for="online-service-option" class="add-on-button">
        <div class="add-on-container">
          <input
            class="online-service-option"
            id="online-service-option"
            type="checkbox"
            name="online-service-option"
          />
          <div class="plan-container">
            <p class="plan-name">Online service</p>
            <p class="add-on-detail">Access to multiplayer games</p>
          </div>
        </div>
        <p class="add-on-cost service">$1/mo</p>
      </label>
    </li>
    <li class="larger-storage">
      <label for="larger-storage-option" class="add-on-button">
        <div class="add-on-container">
          <input
            class="larger-storage-option"
            id="larger-storage-option"
            type="checkbox"
            name="larger-storage-option"
          />
          <div class="plan-container">
            <p class="plan-name">Larger storage</p>
            <p class="add-on-detail">Extra 1TB of cloud save</p>
          </div>
        </div>
        <p class="add-on-cost storage">$2/mo</p>
      </label>
    </li>
    <li class="customizable-profile">
      <label for="customizable-profile-option" class="add-on-button">
        <div class="add-on-container">
          <input
            class="customizable-profile-option"
            id="customizable-profile-option"
            type="checkbox"
            name="customizable-profile-option"
          />
          <div class="plan-container">
            <p class="plan-name">Customizable profile</p>
            <p class="add-on-detail">Custom theme on your profile</p>
          </div>
        </div>
        <p class="add-on-cost profile">$2/mo</p>
      </label>
    </li>
  </ul>
  <input type="submit" hidden />
</form>
