<!-- <form class="page-4" id="page-4" name="page-4"> -->
  <h1 class="page-title">Finishing up</h1>
  <p class="page-description">
    Double-check that everything looks OK before confirming.
  </p>
  <div class="bill-container">
    <div class="chosen-plan-wrapper">
      <div class="chosen-plan-container">
        <p class="chosen-plan">
          Arcade <span class="chosen-period">Monthly</span>
        </p>
        <button
          type="button"
          class="change-plan-button"
          aria-label="Change plan"
        >
          Change
        </button>
      </div>
      <p class="plan-total">$0/mo</p>
    </div>
    <div class="online-service-wrapper">
      <p class="chosen-online-service">Online service</p>
      <p class="online-service-total">+$0/mo</p>
    </div>
    <div class="larger-storage-wrapper">
      <p class="chosen-larger-storage">Larger storage</p>
      <p class="larger-storage-total">+$0/mo</p>
    </div>
    <div class="customizable-profile-wrapper">
      <p class="chosen-customizable-profile">Customizable profile</p>
      <p class="customizable-profile-total">+$0/mo</p>
    </div>
  </div>
  <div class="total-container">
    <p class="total-label">
      Total (per <span class="total-period">month</span>)
    </p>
    <p class="total-value">$0/mo</p>
  </div>
<!-- </form> -->
