@font-face {
  font-family: "Ubuntu-Bold";
  src: url("./assets/fonts/Ubuntu-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu-Medium";
  src: url("./assets/fonts/Ubuntu-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu-Regular";
  src: url("./assets/fonts/Ubuntu-Regular.ttf") format("truetype");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

app-root,
body {
  background-color: hsla(206, 94%, 87%, 0.5);
  min-height: 650px;
}

@media only screen and (min-width: 700px) {
  app-root {
    display: flex;
    align-items: center;
    min-height: 100vh;
  }
}
